[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
bpython = "*"
ipython = "*"
pytest = "*"
pep8 = "*"
autopep8 = "*"
coverage = "*"
pytest-cov = "*"

[packages]
babel = "*"
requests = "*"
mypy = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
